* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: unset;
}

body {
    background: var(--primary-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
    overflow-x: hidden;
}

div img {
    max-height: 20rem;
    object-fit: cover;
}

/* Pop-up*/

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-text-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .popup-content h2 {
    color: var(--primary-color);
  }

  .popup-content p {
    color: var(--secondary-color);
  }

/* Encabezado */

body > .fixed-top {
    display: flex;
    right: 0;
    left: 0;
    padding: 0.2vw;
    border-width: 5vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    margin: 0 auto;
    top: 0;
}

header section {
    margin-left: 3vw;
    padding: 2px;
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    margin: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    color: var(--primary-text-color);
}

nav img {
    size: 10px;
}

nav a {
    text-decoration: unset;
    color: var(--secondary-text-color);
    padding-bottom: 0.2vw;
    padding-top: 0.2vw;
}

nav,
ul {
    gap: 20px;
    margin: 0.5vw;
}

header li:hover {
    text-decoration: underline;
    color: var(--primary-text-color);
    cursor: pointer;
}


/* Night Mode*/

nav img {
    width: 30px;
    max-width: 50px;
    justify-content: right;
    opacity: 50%;
    padding: -1vw;
    margin-right: 2vw;
}

:root {
    --primary-color: #1e293b;
    --secondary-color: #0f172a;
    --primary-text-color: #cbd5e1;
    --secondary-text-color: #64748b;
}

.darkTheme {
    --primary-color: #cbd5e1;
    --secondary-color: #64748b;
    --primary-text-color: #1e293b;
    --secondary-text-color: #0f172a;
}


/* Sección Principal */

main {
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);
    max-width: 100vw;
}

main section {
    width: 94%;
}

main section h3 {
    margin-left: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    vertical-align: top;
}

main section img {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

main section p {
    object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.misTabla img {
    display: flex;
    align-items: center;
    max-width: 350%;
    border-radius: 2vw;
}

.visTabla img {
    display: flex;
    align-items: center;
    max-width: 100%;
    border-radius: 2vw;
}


/* Galería de Imágenes */

/* Pie de Página */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

footer section {
    margin-left: 2vw;
}

footer a {
    text-decoration: unset;
    color: var(--secondary-text-color);
    margin-right: 3vw;
}

footer nav a:hover {
    text-decoration: underline;
    color: aliceblue;
    cursor: pointer;
}

.mailLink {
    font-size: 1.2vw;
}

.mailLink:hover {
    text-decoration: underline;
    color: aliceblue;
    cursor: pointer;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    margin: 0.5vw;
}


/* Media Query */

@media all and (max-width: 1760px) {
    article {
        justify-content: center;
        flex-direction: column;
    }
    main section article h3 {
        padding-top: 10px;
    }
    main section img {
        justify-content: space-around;
        padding: 0.5vw;
    }
}

@media all and (max-width: 1300px) {
    header {
        font-size: 0.8em;
    }
    .imgGrid {
        --num-cols: 2; 
    }
    footer a {
        font-size: 1vw;
    } 
    header img {
        max-width: 20px;
    }
}

@media all and (max-width: 600px) {
    header img {
        max-width: 15px;
    }
    main {
        margin-top: 7vh;
    }
    .popup-content h2 {
        font-size: 5vw;
      }
    
    .popup-content p {
        font-size: 2.5vw;
    }
}

@media all and (min-width: 830px) {
    h1 {
        font-size: 1.5vw;
    }
    header a {
        font-size: 1vw;
    }
}

@media all and (min-width: 1540px) {
    .gridMain p {
        font-size:large;
    }

    h3 {
        font-size: large;
    }
}

@media all and (min-width: 1440px) {
    .gridMain {
        display: grid;
        grid-template-columns: 0.1fr 1fr 2fr 1fr 0.1fr;
        grid-template-rows: min-content 11% min-content 11% min-content;
        gap: 0px;
        margin: auto auto;
    }
    
    .gridDes-T {
        grid-area: 1 / 3 / 2 / 5;
    }
        
    .gridVis-T {
        grid-area: 5 / 3 / 6 / 5;
    }
    
    .gridDes-I {
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      
    .gridVis-I {
        grid-area: 5 / 2 / 6 / 3;
    }
}